.tableframe {
    width: 600px;
    margin: 50px 0 50px 20px;
}

.tablehead {
    background-color: black;
    color: white;
  }

table tbody {
    border-collapse: collapse;
  }

table tbody tr:nth-child(even) {
    background-color: lightgray;
  }

  table tbody tr:nth-child(odd) {
    background-color: white; 
  }

  table td, table th {
    text-align: center;
    border: 1px solid black;
    padding: 8px;
  }



